@model List<Movie>
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-dark">
                Movie List
            </h2>
            <h6 class="text-dark">Listed alphabetically by Movie Name</h6>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Movie" asp-action="Add" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add New Movie
            </a>
        </div>
    </div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Duration(In Minutes)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.MovieName))
        {
            <tr>
                <td>@obj.MovieName</td>
                <td>@obj.Duration</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Movie" asp-action="Edit" asp-route-id="@obj.MovieId"  class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                            <a asp-controller="Movie" asp-action="Delete" asp-route-id="@obj.MovieId" class="btn btn-danger mx-2">
                            <i class="bi bi-trash2"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
